extends ../../layouts/default.pug
include ../../mixins/pagination.pug
block style 
    link(rel="stylesheet", href="/client/css/friend.css")
block main
    .main 
        div(user-id=user.id)
        h1 Friends
        .friend 
            .inner-search
                form(action="" class="form-search")
                    input(type="text" name="keyword" class="input-search-user" id="input-search-user" placeholder="Tìm kiếm...")
                    button(type="submit") 
                        i(class="fa-solid fa-magnifying-glass") 

            .inner-users  
                .list-friend-box.row.align-items-stretch
                    each user in users 
                        .col-md-4.col-sm-6
                            .box-user
                                a(href=`/chat/room/${user.our_room_id}` class="inner-avatar d-block")  
                                    img(src=user.avatar)
                                .inner-info 
                                    a(href=`/chat/room/${user.our_room_id}` class="inner-name d-block") #{user.fullName}
                                    div(class="inner-button unfriend" data-user-id=user.id) 
                                        a(href=`/chat/room/${user.our_room_id}` class="chat-btn btn btn-sm btn-primary") Chat
                                        button(class="unfriend-btn btn btn-sm btn-danger ms-2") Unfriend
                                        button(class="unfriended-btn btn btn-sm btn-secondary" disabled) Unfriended
                                span(class=(user.statusOnline == "online" ? "online" : "") user-id=user.id)
                if (pagination.totalPage > 1)
                    +pagination(pagination)
                        
                                                       
block script
    script(src="/client/js/friend.js")
    script(src="/client/js/pagination.js")   
    
            