mixin box-info-user(user)
    .box-info-user.hidden(user-id=user.id)
        .main-box(class="text-white") 
            form(action="/user/update-info?_method=PATCH" method="POST" enctype="multipart/form-data") 
                .box-head
                    label(class="inner-img")
                        img(src=user.avatar)
                    .inner-name #{user.fullName} 
                        if(user.gender == "male")
                            span(class="male-icon") <i class="fa-solid fa-mars"></i>
                        else 
                            span(class="female-icon") <i class="fa-solid fa-venus"></i>
                    span(close-button) <i class="fa-regular fa-circle-xmark"></i>
                .box-body
                    div(class="mb-3")
                        div(class="description") !{user.description ? user.description : `Hi, I'm ${user.fullName}.`}