extends ../../layouts/default.pug

block style 
    link(rel="stylesheet", href="/client/css/user.css")

block main
    .container
        .row.justify-content-center
            .col-xl-6
                div(class="user-box login-box mt-5")
                    h1(class="text-center") Change Password
                    form(
                        action="/user/password/change?_method=PATCH"
                        method="POST"
                    )
                        div(class="form-box")
                            input(
                                class="form-input"
                                type="password"
                                name="oldPassword"
                                id="oldPassword"
                                required
                            )
                            div(class="label") Your Password
                        div(class="form-box")
                            input(
                                class="form-input"
                                type="password"
                                name="newPassword"
                                id="newPassword-reset"
                                required
                            )
                            div(class="label") New password
                        div(class="form-box")
                            input(
                                class="form-input"
                                type="password"
                                name="newPassword_confirm"
                                id="newPassword-confirm"
                                required
                            )
                            div(class="label") Confirm new password
                        div(class="mb-3 form-box")
                            button(type="submit" class="btn btn-primary w-100") Xác nhận
block script 
    script(src="/client/js/user.js")   
                          
